@charset "utf-8";
body{
	background: grey;
}
#box{
	width: 1300px;
	height: 1000px;
	margin: 100px;
}

.pic{
	
	background: white;
	padding: 10px;
	width: 200px;
	height: 150px;
	transition: 1s
}
img:hover{
	transform: translate(0) scale(1.3);
	box-shadow: 10px 10px 5px #888888;
}
.pic0{
	transform: rotate(5deg);
}
.pic1{
	transform: rotate(-3deg);
}
.pic2{
	transform: rotate(10deg);
}
.pic3{
	transform: rotate(-7deg);
}
.pic4{
	transform: rotate(8deg);
}
.pic5{
	transform: rotate(-15deg);
}
.pic6{
	transform: rotate(66deg);
}
.pic7{
	transform: rotate(11deg);
}
.pic8{
	transform: rotate(-20deg);
}
.pic9{
	transform: rotate(5deg);
}


